.App {
  background-color: white;
  justify-content: center;
  align-items: center;
  /* margin: 20rem; */
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.section {
  background-color: rgb(241, 197, 241);
  height: 60vh;
  width: 60vw;
  margin: 20rem;
  padding-left: 3rem;
}
.header {
  font-weight: 500;
  font-size: 5rem;
  color: violet;
}
.main {
  font-weight: 200;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(88, 8, 163);
}
.button {
  background-color: rgb(167, 92, 167);
  height: 3rem;
  width: 8rem;
  color: rgb(227, 210, 243);
}
.button:hover {
  background-color: rgb(151, 72, 151);
  text: white;
  color: rgb(151, 109, 190);
}

.linkk {
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
}
.input {
  border-radius: 0.5rem;
  width: 20rem;
  padding-left: 1rem;
  /* color: blueviolet; */
}
.placeholder {
  color: brown;
}
.note {
  color: rgb(110, 8, 102);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
}
